<div class="container">
  <div class="row">
    <div class="col-9">
      <h3>Quản lý bài viết</h3>
      <div *ngIf="isLoading" class="spinner-border"></div>
      <table class="table">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tiêu đề</th>
          <th scope="col">Nội dung</th>
          <th scope="col">Tác giả</th>
          <th scope="col">Thao tác</th>
        </tr>
        <tbody >
        <tr *ngFor="let post of posts">
          <td>{{post._id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.content}}</td>
          <td>{{post.author}}</td>
          <td>
            <button class="btn btn-danger" (click)="deletePost(post._id)">Xoá</button>
        </td>
        
        </tr>
      </tbody>
      </table>
    </div>
    <div class="col-3">
      <h3>Thêm - sửa bài viết</h3>
      <form (submit)="createPost(post)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tiêu đề bài viết" [(ngModel)]="post.title" name="title">
        </div>
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]="post.content" name="content" cols="30" rows="10" placeholder="Nội dung bài viết"></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tác giả bài viết" [(ngModel)]="post.author" name="author">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success center">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>
